<ion-tabs>

  <ion-tab-bar slot="bottom" id="tab-bar">
    <ion-tab-button tab="obras" href="/tabs/obras">
      <ion-icon aria-hidden="true" name="business-outline"></ion-icon>
      <ion-label>Obras</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="checar" href="/tabs/checar">
      <ion-icon aria-hidden="true" name="finger-print-outline"></ion-icon>
      <ion-label>Checar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil" href="/tabs/perfil">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
